.main {
  margin-top: 104px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.main__city {
  font-size: 22px;
  line-height: 34px;
  color: var(--font_black);
  margin-top: 56px;
  margin-bottom: 16px;
}
