.personal-area-bar {
  display: flex;
  align-content: center;
}

.personal-area-bar__sign-in {
  text-align: center;
  text-decoration: none;
  align-self: center;
  width: 80px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: var(--font_black);
  border: 1px solid var(--border_grey);
  padding: 8px 0;
  border-radius: 2px;
}

.personal-area-bar__sign-in:active {
  opacity: 0.5;
}

.personal-area-bar__register--wrapper {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
}

.personal-area-bar__register {
  text-align: center;
  text-decoration: none;
  align-self: center;
  width: 80px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: var(--white);
  padding: 8px 0;
  background: var(--background_black);
  border: 1px solid var(--background_black);
  border-radius: 2px;
}

.personal-area-bar__register:active {
  opacity: 0.5;
}
